.iframe-homeassistant {
  padding: 10px 10px 150px 10px;
}

/**************************滚动条样式**************************/

/*滚动条宽度*/
::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

/* 轨道样式 */
::-webkit-scrollbar-track {
}

/* Handle样式 */
::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background: rgba(0, 0, 0, 0.2);
}

/*当前窗口未激活的情况下*/
::-webkit-scrollbar-thumb:window-inactive {
  background: rgba(0, 0, 0, 0.1);
}

/*hover到滚动条上*/
::-webkit-scrollbar-thumb:hover {
  background-color: rgba(0, 0, 0, 0.3);
}
/*滚动条按下*/
::-webkit-scrollbar-thumb:active {
  background-color: rgba(0, 0, 0, 0.5);
}

::-webkit-scrollbar {
  background: -webkit-gradient(linear, left top, right top, color-stop(0%, rgba(202, 202, 202, 0.07)), color-stop(100%, rgba(229, 229, 229, 0.07)));
  background: -webkit-linear-gradient(left, rgba(202, 202, 202, 0.07) 0%, rgba(229, 229, 229, 0.07) 100%);
  -webkit-box-shadow: 0 0 1px 0 rgba(0, 0, 0, 0.15) inset, 0 1px 0 0 #fff;
  -moz-box-shadow: 0 0 1px 0 rgba(0, 0, 0, 0.15) inset, 0 1px 0 0 #fff;
  box-shadow: 0 0 1px 0 rgba(0, 0, 0, 0.15) inset, 0 1px 0 0 #fff;
  background-color: #fff;
}

::-webkit-scrollbar,
::-webkit-scrollbar-thumb {
  overflow: visible;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
  border: solid 1px #a6a6a6;
}

::-webkit-scrollbar-thumb {
  background: -webkit-gradient(linear, left top, right top, color-stop(0%, rgba(233, 233, 233, 0.05)), color-stop(100%, rgba(221, 221, 221, 0.05)));
  background: -webkit-linear-gradient(left, rgba(233, 233, 233, 0.05) 0%, rgba(221, 221, 221, 0.05) 100%);
  -webkit-box-shadow: 0 2px 1px 0 rgba(0, 0, 0, 0.05);
  -moz-box-shadow: 0 2px 1px 0 rgba(0, 0, 0, 0.05);
  box-shadow: 0 2px 1px 0 rgba(0, 0, 0, 0.05);
  background-color: #d6d5d5;
}

::-webkit-scrollbar-button {
  height: 0px;
  width: 0px;
  display: block;
  background-color: transparent;
}
